<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sirzhangs.usercenter.mapper.UserMapper">

	<sql id="base_cloumn">
		id, user_account,
		user_password，user_name,telephone,email,create_time
	</sql>

	<insert id="add"
		parameterType="com.sirzhangs.usercenter.entity.User">
		INSERT INTO uc_user(id, user_account,
		user_password,user_name,telephone,email,create_time)
		VALUES(#{id},
		#{userAccount},
		#{userPassword},#{userName},#{telephone},#{email},
		#{createTime})
	</insert>
	
	<delete id="delete">
		DELETE FROM uc_user
		WHERE id IN
		<foreach collection="ids" item="id" separator="," open="("
			close=")">
			#{id}
		</foreach>
	</delete>

	<select id="findById">
		SELECT
		<include refid="base_cloumn" />
		FROM uc_user
		WHERE id = #{id}
	</select>

	<select id="findList">
		select
		<include refid="base_cloumn" />
		from uc_user
	</select>

</mapper>