<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
<meta charset="UTF-8">
<title>公共模板</title>
<!-- 公共模板中，这个样式文件可以不用引用，因为不会从浏览器直接访问公共模板，而是访问具体的模块-->
<!-- 注意：如果模板片段中应用了其中的样式，则谁引用了模板片段，谁就要导入此样式文件-->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
</head>

<body>
	<!--定义公共的头部，commonHeader 为模板片段名称-->
	<header class="header" th:fragment="commonHeader">
		<div class="header-menu">
			<div class="banner"></div>
			<div class="menu-list">
				<div class="inline-div web-search">
					<span class="glyphicon glyphicon-search"></span>
					<div class="search-input">
						<input type="search" placeholder="搜索文档、控制台、API、解决方案和资源">
					</div>
				</div>
				<div class="inline-div">
					<a class="menu-item">模块一</a>
				</div>
				<div class="inline-div">
					<a class="menu-item">模块二</a>
				</div>

				<div class="inline-div">
					<a class="menu-item">模块三</a>
				</div>
				<div class="inline-div">
					<a class="menu-item">模块四</a>
				</div>
				<div class="inline-div">
					<a class="menu-item">站内消息<span>42</span></a>
				</div>
				<div class="inline-div">
					<a class="menu-item">
						<img src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_handsome.jpg">
					</a>
					<div class="user-info-slide">
						<div class="user-header">
							<div class="user-account">
								<a>
									<img src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_handsome.jpg">
								</a>
								<span>17762405002</span>
							</div>
							<div class="user-base">
								<a class="inline-div user-item">基本资料</a>
								<a class="inline-div user-item">实名认证</a>
								<a class="inline-div user-item">安全设置</a>
							</div>
						</div>
						<div class="user-content">
							<a class="block-div user-item"><span class="glyphicon glyphicon-hourglass"></span>安全管控</a>
							<a class="block-div user-item"><span class="glyphicon glyphicon-hourglass"></span>访问控制</a>
							<a class="block-div user-item"><span class="glyphicon glyphicon-hourglass"></span>AccessKey 管理</a>
							<a class="block-div user-item"><span class="glyphicon glyphicon-hourglass"></span>会员权益</a>
							<a class="block-div user-item"><span class="glyphicon glyphicon-hourglass"></span>会员积分</a>
							<a class="block-div user-item"><span class="glyphicon glyphicon-hourglass"></span>推荐返利后台</a>
						</div>
						<div class="user-footer">
							<p>退出登录</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</header>

	<article>
		<div class="commonMenu" th:fragment="commonMenu">
			<div class="panel-group" id="left-menu" th:each="item:${menus}">
  				<div class="panel panel-default">
  					<div class="panel-heading">
      					<h5 class="panel-title">
          					<a data-toggle="collapse" data-parent="#left-menu" th:href="${#strings.prepend(item.menuCode,'#')}">
            					<h5>    
            						<span class="glyphicon glyphicon-film" style="color: rgb(117, 75, 187); font-size: 15px;" th:text="${item.menuName}"></span>
            					</h5>
          					</a>
      					</h5>
  					</div>
			        <div th:id="${item.menuCode}" class="panel-collapse collapse">
			            <div class="panel-body">
		                    <div class="list-group">
		                    	<div th:each="child:${item.children}">
		                    		<a class="list-group-item" th:attr="data-href=${child.menuUrl}" th:text="${child.menuName}" ></a>
		                    	</div>
		                    </div>
			            </div>
			        </div>
  				</div>
 			</div>
		</div>
		<div class="content"></div>
		
		<!-- <div class="panel panel-default">
	        <div class="panel-heading">
	            <h4 class="panel-title">
	                <a data-toggle="collapse" data-parent="#left-menu" href="#collapseTwo">
	                   <h5>
	                   	<span class="glyphicon glyphicon-film" style="color: rgb(117, 75, 187); font-size: 15px;"> 测试频道</span>
	                   </h5>
	                </a>
	            </h4>
	        </div>
		        <div id="collapseTwo" class="panel-collapse collapse in">
		            <div class="panel-body">
		                    <div class="list-group">
		                            <a class="list-group-item active" href="#">全部</a>
		                            <a class="list-group-item" href="#">电影</a>
		                            <a class="list-group-item" href="#">电视剧</a>
		                            <a class="list-group-item" href="#">明星</a>
		                            <a class="list-group-item" href="#">八卦</a>
		                            <a class="list-group-item" href="#">音乐</a>
		                            <a class="list-group-item" href="#">演员</a>
		                            <a class="list-group-item" href="#">歌手</a>
		                        </div>
		                        
		            </div>
		        </div>
	       </div> -->
	</article>

	<!--定义公共的底部，这里使用 id 选择器，当然也可以用片段名，如 th:fragment="commonFooter"-->
	<footer id="commonFooter"> Copyright © 1998 - 2018 YYServer.
		All Rights Reserved </footer>

</body>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>

</html>